<h1>Checkout your Order:</h1>
<p>Please fill out your billing info.</p>
<%= form_for @current_cart, url: url_for(controller: 'orders', action: 'paid') do |f| %>
  <%= f.label :billing_email, "Email" %>
  <%= f.text_field :billing_email %>
  <%= f.label :billing_address, "Shipping Address" %>
  <%= f.text_field :billing_address %>
  <%= f.label :billing_name, "Name on Card" %>
  <%= f.text_field :billing_name %>
  <%= f.label :billing_num, "Credit Card Number" %>
  <%= f.text_field :billing_num %>
  <%= f.label :billing_exp, "Credit Card Expiration" %>
  <%= f.text_field :billing_exp, placeholder: "mm/yy" %>
  <%= f.label :billing_cvv, "Credit Card CVV" %>
  <%= f.text_field :billing_cvv %>
  <%= f.label :billing_zipcode, "Credit Card Zipcode" %>
  <%= f.text_field :billing_zipcode %>
  <%= f.submit 'Place Order', class: "button"%>
<% end %>
