<h2><%= @current_merchant.username %></h2>
<section class="order-fulfillment">
  <% if @merchant_orders.empty? %>
    <h2>No one wants to support your business ¯\_(ツ)_/¯</h2>
  <% else %>
  <%= link_to "All Orders", order_fulfillment_path %>
  <%= link_to "Awaiting Shipping", order_fulfillment_path(status: "paid") %>
  <%= link_to "Shipped", order_fulfillment_path(status: "shipped") %>
  <%= link_to "Cancelled", order_fulfillment_path(status: "cancelled") %>
  <h3>All Orders: </h3>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Purchase Date</th>
        <th>Total</th>
        <th>Order Status</th>
        <th>Options</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @order_products.each do | order_product | %>
      <tr>
        <td>
          <%=  link_to order_product.order_id, order_path(order_product.order_id), class: 'order-link' %>
        </td>
        <td><%= order_product.order.created_at %></td>
        <td><%= "$#{format_price(order_product.calculate_cost)}" %></td>
        <td><%= order_product.status %>
        </td>
        <td>
          <% if order_product.status == "paid" %>
          <%= link_to "Ship", order_product_path(order_product.id, status: "shipped"), method: :patch %>
          <%= link_to "Cancel",
          order_product_path(order_product.id, status: "cancelled"), method: :patch  %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</section>
