<h2><%= @current_merchant.username%></h2>
<section class="products-manager">
  <h3>Product Management: </h3>

  <ul class="product-page">
    <li class="add_product">
      <%=  link_to "Add a Product", new_merchant_product_path(@current_merchant.id) %>
    </li>
    <li class="add_category">
      <%=  link_to "Add a category", new_category_path %>
    </li>
  </ul>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Inventory</th>
      <th>Status</th>
      <th>Change Status</th>
      <th>Edit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do | product | %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.inventory %></td>
        <td><%= product.product_active == true ? "Active" : "Retired" %></td>
        <td><%= link_to  'change availability (PATH NEEDED EDIT BELOW)', products_manager_path, class: 'product-available-link' %></td>
        <td><%= link_to 'edit', edit_merchant_product_path(@current_merchant.id, product.id), class: 'product-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>
