<section>
  <% if params[:category_id] %>
    <h3>Category: <%= Category.find(params[:category_id]).category_name %></h3>
  <% elsif params[:merchant_id] %>
    <h3>Merchant: <%= Merchant.find(params[:merchant_id]).username %></h3>
  <% else %>
    <h3>All Products</h3>
  <% end %>

  <% if @products.where(product_active: true).count == 0 %>
    <article>
      <p>Sorry, these products may not be available...</p>
    </article>
  <% end %>

  <section class="grid-container">
    <% @products.each do |p| %>
      <% if p.product_active %>
      <article class="grid-item">
        <%= link_to product_path(p.id) do %>
            <%= link_to image_tag(p.photo_url, :size => "300x300", alt:"product image"), product_path(p.id) unless p.photo_url.blank? %>
            <p><%= p.name.capitalize %></p>
            <p>$<%= format_price(p.price) %></p>
        <% end %>
      </article>
      <% end %>
    <% end %>
  </section>
</section>
