
<section>
  <h3>Staff Picks</h3>
  <ul>
    <li class="grid-container">
      <% if !@staff_picks.nil? %>
        <% @staff_picks.each do |p| %>
        <article class="grid-item">
          <%= link_to image_tag(p.photo_url, :size => "300x300", alt:"product image"), product_path(p.id) unless p.photo_url.blank? %>r
          <p><%= link_to p.name.capitalize, product_path(p.id) %></p>
          <p>$<%= format_price(p.price) %></p>
        </article>
        <%end%>
      <% end %>
    </li>
  </ul>
</section>

<section>
  <h3>Top Rated</h3>
  <ul>
    <li class="grid-container">
      <% @top_rated.each do |p| %>
      <article class="grid-item">
        <%= link_to image_tag(p.photo_url, :size => "300x300", alt:"product image"), product_path(p.id) unless p.photo_url.blank? %>
        <p><%= link_to p.name.capitalize, product_path(p.id) %></p>
        <p>Average rating: <%= p.average_rating.round(1) %></p>
      </article>
      <%end%>
    </li>
  </ul>
</section>
