
<section class="row product">
  <h3> Product: <%= @product.name %> </h3>

  <%= image_tag p.photo_url, alt:"product image" unless p.photo_url.blank? %>
  <p>Merchant: <%= link_to @product.merchant.username, merchant_products_path(@product.merchant.id) %></p>
  <p>Description: <%=@product.description %></p>
  <p>Cost: $<%= format_price(@product.price) %></p>
  <% if @product.inventory == 0 %>
    <p><i>Out of Stock</i></p>
    <%else%>
  <p><%= @product.inventory %> in stock</p>
    <%end%>
  <p>Categories: <% @product.categories.each do |c| %> <%= link_to c.category_name, category_products_path(c.id)  %>
    <% end %></p>
    <p>Quantity:</p>
    <%= form_for :order_products, url: add_to_order_path(@product.id), method: :get do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.select(:inventory, (1..@product.inventory)) %>

    <%= f.submit "Add to Cart", class: "button" %>
    <% end %>
  </section>

  <section>
    <h4>Reviews</h4>
    <p>
      Average rating:
      <% if @product.reviews.count == 0 %>
        <i>
          No Reviews Yet
        </i>
        <%else%>
      <%= @product.average_rating %>
      <%end%>
    </p>

  </p>
  <ul>
    <% @product.reviews.each do |r| %>
    <p>
      <li> Rating: <%= r.rating %> </li>
      <li>
        <%= r.description %> </li>
      </p>
      <% end %>
    </ul>
  </section>

  <section>
    <% if @current_merchant != @product.merchant %>
      <p><%= link_to "Write a Review", new_product_review_path(@product.id) %></p>
    <% end %>
  </section>
