<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Hipsty</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header class="page-header">
    <nav>
      <ul>
        <% if session[:merchant_id] %>
        <% @current_merchant = session[:merchant_id]%>
        <li><%= "Welcome #{@current_merchant.username}" %></li>
        <li><h2 class="title">
          <%= link_to "Hipsty", root_path %>
        </h2></li>
        <li><%= link_to "Account", account_page_path %> </li>
        <li><%= link_to "Log Out", logout_path %> </li>
        <li><%= link_to "Cart", order_path %> </li>
        <% else %>
        <li><%= "Welcome Guest" %></li>
        <li><h2 class="title">
          <%= link_to "Hipsty", root_path %>
        </h2></li>
        <li><%= link_to "Log In", auth_callback_path %> </li>
        <li><%= link_to "Become a Merchant", auth_callback_path %> </li>
        <li><%= link_to "Cart", order_path %> </li>
        <% end %>
      </ul>
    </nav>
  </header>


  <navclass="nav2"> #this is going to be the sometimes hidden 2nd nav
  <div>
    <ul>
      <li><%= link_to "Shop All Products", products_path %>
      </li>
      <li>
        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Shop by Category</a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <% @categories.each do |category| %>
          <li><%= link_to category.category_name, category_products_path(category.id) %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Shop by Merhcant</a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <% @merchants.each do |merchant| %>
          <li><%= link_to merchant.username, merchant_products_path(merchant.id) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>




<!-- <% if flash[:result_text] or flash[:messages] %>
<section class="status <%= flash[:status] %>">
  <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></h3>
  <% if flash[:messages] %>
  <ul>
    <% flash[:messages].each do |name, problems| %>
    <% problems.each do |problem| %>
    <li><%= name %>: <%= problem %></li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
</section>
<% end %> -->
<ul>
  <% flash.each do | name, message | %>
  <li>
    <%= name %>: <%= message %>
  </li>
  <% end %>
</ul>


<main>
  <%= yield %>
</main>

</body>
</html>
