<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Hipsty</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header class="page-header">
    <nav>
      <ul>
        <% if @current_merchant %>
        <li><%= "Welcome #{@current_merchant.username}" %></li>
        <li><h2 class="title">
          <%= link_to "Hipsty", root_path %>
        </h2></li>
        <li><%= link_to "Account", account_page_path %> </li>
        <li><%= link_to "Log Out", logout_path, method: :delete %> </li>
        <% else %>
        <li><%= "Welcome Guest" %></li>
        <li><h2 class="title">
          <%= link_to "Hipsty", root_path %>
        </h2></li>
        <li><%= link_to "Log In", github_login_path %> </li>
        <li><%= link_to "Become a Merchant", github_login_path %> </li>
        <% end %>
        <li>
          <% if @current_cart.nil? %>
            Cart Empty
          <% else %>
            <% count = @current_cart.order_products.count %>
            <%= link_to "Cart(#{count})", order_path(@current_cart.id) %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>


  <nav class="nav2"> #this is going to be the sometimes hidden 2nd nav
    <div>
      <ul>
        <li><%= link_to "Shop All Products", products_path %>
        </li>


          <li>
            <class="dropdown menu" data-dropdown-menu="hover1" data-options="is_hover:true; hover_timeout:5000">Shop By Category</a>

            <ul id="hover1" class="f-dropdown" data-dropdown-content>
              <% Category.all.each do |category| %>
              <li><%= link_to category.category_name, category_products_path(category.id) %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Shop by Merchant</a>
            <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
              <% Merchant.all.each do |merchant| %>
              <li><%= link_to merchant.username, merchant_products_path(merchant.id) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <ul>
      <% flash.each do | name, message | %>
      <li>
        <%= name %>: <%= message %>
      </li>
      <% end %>
    </ul>


    <main>
      <%= yield %>
    </main>

  </body>
  </html>
